@{
    ViewData["Title"] = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model amiscosa_hardware_and_sales_inventory_system.Domain.Models.InventoryModel;
}

<div class="content-title">
    <h1>Inventory</h1>
    <p>Main Menu | Inventory</p>
</div>

<div class="utility-buttons">
    <div class="restock-item">
        <button class="restock-product add-btn orange-btn medium">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <g clip-path="url(#clip0_335_14)">
                    <path d="M9 0.642883V5.78574" stroke="#FCF3E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M0.642822 5.78577H17.3571V16.0715C17.3571 16.4125 17.2216 16.7395 16.9805 16.9806C16.7395 17.2217 16.4124 17.3572 16.0714 17.3572H1.92854C1.58754 17.3572 1.26052 17.2217 1.0194 16.9806C0.778281 16.7395 0.642822 16.4125 0.642822 16.0715V5.78577Z" stroke="#FCF3E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M0.642822 5.78574L2.57139 2.07003C2.77931 1.65123 3.09747 1.29705 3.49166 1.04559C3.88584 0.794124 4.34113 0.654897 4.80854 0.642883H13.1914C13.6698 0.643137 14.1386 0.776839 14.5453 1.02896C14.9518 1.28107 15.2799 1.64161 15.4928 2.07003L17.3571 5.78574" stroke="#FCF3E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M8.99939 14.588V8.65839" stroke="#FCF3E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M11.2499 10.8708L8.99965 8.62054L6.74939 10.8708" stroke="#FCF3E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                    <clipPath id="clip0_335_14">
                        <rect width="18" height="18" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            Restock Item
        </button>
    </div>

    <div class="add-item">
        <button class="add-product add-btn orange-btn medium">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <g clip-path="url(#clip0_335_7)">
                    <path d="M9 0.642883V5.78574" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M0.642822 5.78577H17.3571V16.0715C17.3571 16.4125 17.2216 16.7395 16.9805 16.9806C16.7395 17.2217 16.4124 17.3572 16.0714 17.3572H1.92854C1.58754 17.3572 1.26052 17.2217 1.0194 16.9806C0.778281 16.7395 0.642822 16.4125 0.642822 16.0715V5.78577Z" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M0.642822 5.78574L2.57139 2.07003C2.77931 1.65123 3.09747 1.29705 3.49166 1.04559C3.88584 0.794124 4.34113 0.654897 4.80854 0.642883H13.1914C13.6698 0.643137 14.1386 0.776839 14.5453 1.02896C14.9518 1.28107 15.2799 1.64161 15.4928 2.07003L17.3571 5.78574" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12.2142 11.5715H5.78564" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M9 8.35718V14.7857" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                    <clipPath id="clip0_335_7">
                        <rect width="18" height="18" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            Add Item
        </button>
    </div>
</div>

<div class="content-wrapper">
    <div class="content-container">
        <div class="content-search-and-filter">
            <div class="search-and-filter">
                <form action="" class="form-v-center">
                    <fieldset class="search-bar search-field medium">
                        <label for="search-input">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                    <g clip-path="url(#clip0_11_108)">
                                        <path d="M6 11.5C9.03757 11.5 11.5 9.03757 11.5 6C11.5 2.96243 9.03757 0.5 6 0.5C2.96243 0.5 0.5 2.96243 0.5 6C0.5 9.03757 2.96243 11.5 6 11.5Z" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M13.5 13.5L10 10" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_11_108">
                                            <rect width="14" height="14" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>

                        </label>
                        <input type="text" name="" id="search-input" placeholder="Search anything here..">
                    </fieldset>

                    <fieldset class="filter">
                        <button class="filter-btn medium">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                <g clip-path="url(#clip0_10_103)">
                                    <path d="M13.5 0.5H0.5L5.5 7.5V13.5L8.5 11.5V7.5L13.5 0.5Z" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_10_103">
                                        <rect width="14" height="14" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            <p>Filter</p>
                        </button>
                    </fieldset>
                </form>
            </div>
            <div class="filter">
            </div>
        </div>
       @*  <div>
            @Model.GetAllProductList
        </div> *@
        <table id="inventory-table">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Unit Cost</th>
                    <th>Unit Price</th>
                    <th>Measurement</th>
                    <th>Manufacturer</th>
                    <th>IsAvailable</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>               
                @foreach(amiscosa_hardware_and_sales_inventory_system.Domain.DataTransferObjects.ProductDataTransferObject product in Model.ProductList!)
                {
                    <tr>
                        <td>@product.ProductID</td>
                        <td>@product.ProductName</td>
                        <td>@product.Quantity</td>
                        <td>@product.UnitCost</td>
                        <td>@product.UnitPrice</td>
                        <td>@product.Measurement</td>
                        <td>@product.Manufacturer!.ManufacturerName</td>
                        <td>@product.IsAvailable</td>
                        
                        <td>
                            <button class="edit-product">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                    <g clip-path="url(#clip0_11_172)">
                                        <path d="M5 12.24L0.5 13.5L1.76 9.00002L10 0.80002C10.0931 0.704774 10.2044 0.629095 10.3271 0.577428C10.4499 0.52576 10.5818 0.499146 10.715 0.499146C10.8482 0.499146 10.9801 0.52576 11.1029 0.577428C11.2256 0.629095 11.3369 0.704774 11.43 0.80002L13.2 2.58002C13.2937 2.67298 13.3681 2.78359 13.4189 2.90544C13.4697 3.0273 13.4958 3.15801 13.4958 3.29002C13.4958 3.42203 13.4697 3.55274 13.4189 3.6746C13.3681 3.79646 13.2937 3.90706 13.2 4.00002L5 12.24Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_11_172">
                                            <rect width="14" height="14" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </button>
                            <button class="del-product">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                    <g clip-path="url(#clip0_11_184)">
                                        <path d="M1 3.5H13" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M2.5 3.5H11.5V12.5C11.5 12.7652 11.3946 13.0196 11.2071 13.2071C11.0196 13.3946 10.7652 13.5 10.5 13.5H3.5C3.23478 13.5 2.98043 13.3946 2.79289 13.2071C2.60536 13.0196 2.5 12.7652 2.5 12.5V3.5Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M4.5 3.5V3C4.5 2.33696 4.76339 1.70107 5.23223 1.23223C5.70107 0.763392 6.33696 0.5 7 0.5C7.66304 0.5 8.29893 0.763392 8.76777 1.23223C9.23661 1.70107 9.5 2.33696 9.5 3V3.5" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M5.5 6.50146V10.503" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M8.5 6.50146V10.503" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_11_184">
                                            <rect width="14" height="14" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="bottom-blocker"></div>
    </div>
</div>

@section Scripts {
    <script src="~/js/inventory.js"></script>
}